.tabledata{
    height: 600px;
    width: 78%;
    /* border: 2px solid red; */
    margin-left: 250px;
    margin-top: 1%;
}
table, td, th {
    border: 1px solid black;
  }
  table {
    border-collapse: collapse;
    width: 90%;
  }
  
  th {
    height: 70px;
  }